@model MyProject
@{
    ViewData["Title"] = "CreateMyProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="MyProjectID" />
        <br />
        <label>Görsel</label>
        <input type="text" asp-for="Image" class="form-control" />
        <br />
        <label>Link</label>
        <input type="text" asp-for="Link" class="form-control" />
        <br />
        <button class="btn btn-outline-success"><i class="fas fa-save"></i>Ekle</button>
    </form>
</div>

