@model Profile

@{
    ViewData["Title"] = "ProfileDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="card pull-up ecom-card-1 bg-white container">
        <form method="post" enctype="multipart/form-data">
            <div class="text-center align-text-center justify-content-center">
            <img src="@Model.ImageUrl" style="height:250px; width:250px; border-radius:50%" />
            </div>
            <br />
            <input type="hidden" asp-for="ProfileID" />
            <label>Adınız Soyadınız </label>
            <input type="text" asp-for="NameSurname" class="form-control" />
            <br />
            <label>Başlık1</label>
            <input type="text" asp-for="Title1" class="form-control" />
            <br />
            <label>Başlık2</label>
            <input type="text" asp-for="Title2" class="form-control" />
            <br />
        <input type="hidden" asp-for="ImageUrl" class="form-control" />
            <div class="form-group">
                <label>Profil Resmi Seçin</label>
                <br />
                <input type="file" name="Image" />
                <br />
            </div>
            <br />
            <button class="btn btn-primary">Kaydet</button>
            <br />
        </form>
        <br />
</div>
