@model List<Skill>

<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="display-5 mb-5">Yeteneklerim</h1>
    <p class="mb-4">Devam ettiğim eğitimimde projelerimi geliştirdiğim teknolojiler.</p>
    <h3 class="mb-4">Yeteneklerim</h3>
    <div class="row align-items-center">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="skill mb-4">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold">@item.Title</h6>
                        <h6 class="font-weight-bold">@item.Points%</h6>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="@item.Points" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                
                
            </div>
            
        }
    </div>
</div>