@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


@await Component.InvokeAsync("_ProfileComponentPartial")


<div class="container-xxl py-6" id="about">
    <div class="container">
        <div class="row g-5">

            @await Component.InvokeAsync("_AboutComponentPartial")

            @await Component.InvokeAsync("_ProjectDetailComponentPartial")

        </div>
    </div>
</div>

<div class="container-xxl py-6 pb-5" id="skill">
    <div class="container">
        <div class="row g-5">

            @await Component.InvokeAsync("_SkillComponentPartial")

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Deneyimler</button>
                    </li>
                    <li class="nav-item w-50">
                        <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Eğitimler</button>
                    </li>
                </ul>
                <div class="tab-content">
                    @await Component.InvokeAsync("_ExperienceComponentPartial")

                    @await Component.InvokeAsync("_EducationComponentPartial")

                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_ServiceComponentPartial")

@await Component.InvokeAsync("_MyProjectComponentPartial")

@await Component.InvokeAsync("_TestimonialComponentPartial")





<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h3 class="display-5 mb-0">İletişim Bilgileri</h3>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">İletişime Geç</a>
            </div>
        </div>
        <div class="row g-5">
            @await Component.InvokeAsync("_ContactInfoComponentPartial")
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <p class="mb-4">Projelerim için iletişime geçebilir, sorularınızı iletebilirsiniz.</a>.</p>

                @await Html.PartialAsync("~/Views/Default/SendMessage.cshtml")

            </div>
        </div>
    </div>
</div>


<!-- Contact End -->
<!-- Map Start -->
<div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-xxl pt-5 px-0">
        <div class="bg-dark">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100738.34444506711!2d32.29120504904118!3d37.90535019956118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d08568d615f745%3A0x240dd0fc08060967!2sKonya!5e0!3m2!1str!2str!4v1703870769627!5m2!1str!2str"
                    frameborder="0" style="width: 100%; height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
        </div>
    </div>
</div>
